:host {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #f8f9fa; /* Cor de fundo do rodapé */
    text-align: center; /* Centraliza o texto no rodapé */
    padding-bottom: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para o rodapé */
  }

  .rodape {
    width: 100%;
  }