:host {
    display: block;
    background-image: url('../../../assets/images/olhar3d.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajuste conforme necessário */
    width: 100%; /* Ajuste conforme necessário */
    box-shadow: darkgray;
  }